<!-- Validation failure messages -->

<% if @exercise.errors.any? %>
  <% @exercise.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<!-- Responsive panel example -->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Add Exercise</h3>
      </div>
      <div class="panel-body">
        <%= form_tag exercises_url, :method => "post", :class => "form-horizontal" do %>
          <!-- Label and input for name -->
          <div class="form-group">
            <label for="name" class="col-sm-2 control-label">
              Name
            </label>
            <div class="col-sm-10">
              <input type="text" id="name" name="name" placeholder="Name" class="form-control" value="<%= @exercise.name %>">
            </div>
          </div>

          <!-- Label and input for reps -->
          <div class="form-group">
            <label for="reps" class="col-sm-2 control-label">
              Reps
            </label>
            <div class="col-sm-10">
              <input type="text" id="reps" name="reps" placeholder="Reps" class="form-control" value="<%= @exercise.reps %>">
            </div>
          </div>

          <!-- Label and input for sets -->
          <div class="form-group">
            <label for="sets" class="col-sm-2 control-label">
              Sets
            </label>
            <div class="col-sm-10">
              <input type="text" id="sets" name="sets" placeholder="Sets" class="form-control" value="<%= @exercise.sets %>">
            </div>
          </div>

          <!-- Label and input for description -->
          <div class="form-group">
            <label for="description" class="col-sm-2 control-label">
              Description
            </label>
            <div class="col-sm-10">
              <textarea id="description" name="description" placeholder="Description" class="form-control" rows="3"><%= @exercise.description %></textarea>
            </div>
          </div>

          <!-- Label and input for muscle_group_id -->
          <div class="form-group">
            <label for="muscle_group_id" class="col-sm-2 control-label">
              Muscle group
            </label>
            <div class="col-sm-10">
              <%= select_tag :muscle_group_id, options_from_collection_for_select(MuscleGroup.order(:location), :id, :location, @exercise.muscle_group_id), :class => "form_control" %>
            </div>
          </div>

          <!-- Label and input for difficulty_id -->
          <div class="form-group">
            <label for="difficulty_id" class="col-sm-2 control-label">
              Difficulty
            </label>
            <div class="col-sm-10">
              <%= select_tag :difficulty_id, options_from_collection_for_select(Difficulty.all, :id, :level, @exercise.difficulty_id), :class => "form_control" %>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <input type="submit" value="Create Exercise" class="btn btn-success">
              or
              <a href="/exercises">Cancel</a>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- End responsive panel example -->
